apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: secrets
  namespace: guides
data:
  GITHUB_CLIENT_ID: ZTYwNThkNmMzYTFlNTE0MzZmNDk=
  GITHUB_CLIENT_SECRET:
  GITHUB_ORG_NAME: d2VsbG9wcA==
  GITHUB_TEAM_ID: ODc3NTk2