[class*="column"] + [class*="column"]:last-child {
  float: left;
}

#view-image-modal {
  .is_featured {
    @extend .button.success;
  }
}
.existing-photos {
  div.photo {
    position: relative;
    img {
      width: 100%;
      margin:0px;
      margin-bottom: 30px;
    }
    &.featured img {
      box-shadow: 0 0 30px $success-color;
    }
  }
}
@media screen and (max-width: #{$small-screen}) {
  .existing-photos img {
    height: auto;
  }
}