<%= render partial: 'pages/breadcrumbs' if current_user %>

<h1>Editing page</h1>

<%= render 'form' %>

<%= link_to 'Show', @page, class: 'secondary button' %>
<%= link_to 'Back', pages_path, class: 'secondary button' %>
