<% content_for :title, 'Motor Car Export - Buy Used, Save Huge' %>
<% content_for :featured, true %>

<h2>
Buy Used, Save Huge
<br/>
<small>Your source for late model, clean repairables, & used vehicles in mint condition.</small></h2>
<br/>
<% if current_user %>
<%= link_to 'Edit This Page', edit_page_path(@page), class: 'secondary button' %>
<% end %>


<% if @page and @page.body.present? %>
	<% cache ["v1", @page] do %>
		<%= raw RDiscount.new(@page.body).to_html %>
	<% end %>
<% end %>
