<% content_for :title, @page.name + ' - Motor Car Export' %>
<% content_for :featured, @page.featured %>

<% if notice %>
<p id="notice" class="alert-box radius"><%= notice %></p>
<% end %>

<%= raw @page.body %>

<% if current_user %>
<%= link_to 'Edit', edit_page_path(@page), class: 'secondary button' %>
<% end %>

