<% content_for :title, @page.name + ' - Motor Car Export' %>
<% content_for :featured, @page.featured %>

<% if current_user %>
<%= render partial: 'pages/breadcrumbs' if current_user %>
<%= link_to 'Edit This Page', edit_page_path(@page), class: 'secondary button' %>
<% end %>

<% if notice %>
<p id="notice" class="alert-box radius"><%= notice %></p>
<% end %>

<% unless @page.active? %>
	<p class="alert-box alert radius">This page is not publicly viewable.</p>
<% end %>

<%= raw @page.body %>
