<% content_for :title, @page.name + ' - Motor Car Export' %>
<% content_for :featured, @page.featured || false %>

<% cache [@page, "is-admin? #{!!current_user}"] do %>
  <% if current_user %>
    <%= link_to 'Edit This Page', edit_page_path(@page), class: 'secondary button' %>
  <% end %>
<% end %>

<% cache @page do %>
	<% unless @page.active? %>
		<p class="alert-box alert radius">This page is not publicly viewable.</p>
	<% end %>

	<%= raw RDiscount.new(@page.body).to_html unless @page.body.blank? %>
<% end %>