#featured-box {
  position: relative;
  top: -1px;
}
#featured-content{
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(asset-path('featured-bg.jpg', image));
  background-size: cover;
  display: inline-block;
  .car {
    //white-space: nowrap;
    height: auto;
    background: rgba(255,255,255,0.4);
    box-shadow: 0 0 3px rgba(255,255,255,0.4);
    border-radius: 3px;
    padding: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    cursor: pointer;
    >.row{
      margin: 0;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .picture {
      height: 180px;
      background-size: cover;
      background-position: center;
      border: 5px solid #ffffff;
    }
    .info {
      font-size: 120%;
      height: 180px;
      position: relative;

      h2,h3,h4 {
        margin:0;
        line-height: 1.1em;
        font-family: 'source-sans-pro', 'helvetica neue', 'verdana', 'arial narrow', sans;
        font-weight: 400;
        font-size: 1.75em;
        margin-bottom: 2px;
      }
      h2, .price {
        color: darken(#276030, 5%);
        font-family: 'source-sans-pro', 'helvetica neue', 'verdana', 'arial narrow', sans;
        font-weight: bold;
        font-size: 2.275em;
        margin-top: 5px;
      }
      .price {
        margin: 0.3em 1em 0 0;
        display: inline-block;
        vertical-align: bottom;
      }
      .links {
        position: absolute;
        bottom: 0;
        .button {
			font-size: emCalc(16px);
			letter-spacing: 1px;
          margin: 0;
          min-height: 42px;
          min-width: 200px;
          &.more-info {
            @include button-style(#7aa3af);
            min-width: 200px;
            min-height: 42px;
          }
        }
      }
    }
  }
}

@media #{$screen} and (max-width: #{$small-screen}) {
  .featured-column {
    padding:0;
  }
  #featured-content .car {
    margin:0;
  }
}
