.existing-photos {
  img {
    width: 19%;
    margin:0px;
    padding-bottom: 30px;
    height: 128px;
  }
}
@media screen and (max-width: #{$small-screen}) {
  .existing-photos img {
    height: auto;
  }
}

.buttons {
  >* {
    width: 50%;
  }
  .file-upload{
    position: relative;

    input{
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
}