.inventory.vehicles {
	.filter-box {
		margin-bottom: 1em;
	}
	#filter_status {
		width: 25%;
	}
	label[for="filter_status"] {
		display: inline-block;
	}

  .vehicle {
    border-top: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 1em;
    &.featured {
      background: #fffad7;
    }
    >a>.row{
      margin:0;
    }
    .image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      min-height: emCalc(180px);
      @include transition(background, 3s, ease);
      margin-left: -15px;
    }
    i.new {
      color: $alert-color;
      &:before {
        font-size: 1.5em;
        margin-right: 0.5em;
        vertical-align: middle;
      }
    }
    table {
      margin:0;
    }
  }
=======
	.vehicle {
		border-top: 1px solid #ddd;
		padding-top: 1em;
		padding-bottom: 1em;
		position: relative;
		cursor: pointer;
		>a>.row {
			margin: 0;
		}
		.image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			min-height: emCalc(180px);
			@include transition(background, 3s, ease);
			overflow: hidden;
			position: relative;
			.banner {
				color: white;
				font-size: 1em;
				padding: 0.25em;
				width: 200px;
				text-align: center;
				display: inline-block;
				position: absolute;
				@include transform(rotate(-45deg));

				&.new {
					background: $primary-color;
					left: -70px;
					top: 15px;
				}
				&.featured {
					background: $alert-color;
					left: -55px;
					top: 35px;
				}
				i[class*=foundicon] {
					font-size: 0.9em;
					margin-right: 0.5em;
				}
			}
		}
		.info {
			min-height: emCalc(180px);

			h3.subtitle {
				color: #444;
			}

			p {
				margin-bottom: 0.5em;
			}
			.more-info {
				position: absolute;
				bottom: 0;
				a.button {
					margin: 0;
				}
			}
		}
	}
>>>>>>> 8d1676ab15959f30fae399f5e4f1c53aa2798656
}

@media #{$screen} and (max-width: #{$small-screen}) {
	.inventory.vehicles {
		.vehicle {
			.image {
				margin-bottom: 1em;
			}
			.info {
				min-height: 0em;

				.more-info {
					position: static;
				}
			}
		}
	}
}