.show.vehicles{
  .photo-box {
    .photo {
      height: emCalc(320px);
      background-size: cover;
      background-position: center;
    }
    .photos {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      img {
        display: block;
        float: left;
        width: 10%;
        margin:0;
        padding: 0;
        &:hover {
          padding: 2px;
        }
      }
    }
  }
  header {
    h1 {
      margin: 0;
    }
    h2.subtitle {
      line-height: 0.9;
      font-size: 2.5em;
      color: #999;
    }
  }
  .description {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .features .list {
    .feature {
      padding: 0.5em;
    }
  }
}

@media #{$screen} and (max-width: #{$small-screen}) {
  .show.vehicles {
    .photo-box .photos img {
      width: 19%;
    }
    .description {
      font-size: 1em;
    }
  }
}