.show.vehicles{
  .photo-box {
    .photo {
      height: 25em;
      background-size: cover;
      background-position: center;
      margin-bottom: 1em;
    }
    .photos {
      margin-bottom: 1em;
      img {
        display: block;
        float: left;
        width: 18%;
        margin:0 3px 3px 0;
        padding: 0;
        &:hover {
          padding: 1px;
        }
      }
    }
  }
  header {
    h1 {
      margin: 0;
    }
    h2.subtitle {
      line-height: 0.9;
      font-size: 2.5em;
      color: #999;
    }
  }
  .description {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .features .list {
    .feature {
      padding: 0.5em;
    }
  }
}

@media #{$screen} and (max-width: #{$small-screen}) {
  .show.vehicles {
    .photo-box .photos img {
      width: 10%;
    }
    .description {
      font-size: 1em;
    }
    .reveal-modal {
      padding: 0;
    }
    a.close-reveal-modal {
      z-index: 10000;
      font-size: 1.5em;
      color: #222;
      background: #FFF;
      height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 15px;
      top:0;
      right: 0;
    }
  }
}