<% content_for :title, 'Subscription Cancelled' %>
<h1>Subscription Cancellation</h1>
<div data-alert class="alert-box">
  Your have successfully unsubscribed from our mailings.
  <a href="#" class="close">&times;</a>
</div>
<p>Hello <%= @subscriber.first_name %></p>
<p>You will no longer receive any emails from Motor Car Export.  We are sorry to see you go, and wish you the best.  If you ever want to return in the future we will be here, and be happy to provide you with quality, cost saving automotive solutions.</p>
<p style="height: 300px">&nbsp;</p>

