<div id="gallery-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <div class="row">
    <div class="theme-light slider-wrapper large-10 small-12 columns small-centered">
        <div class="information-caption">
          <span class="caption">Use your left and right arrow keys to navigate.</span>
          <div class="left nivo-arrow"><</div>
          <div class="right nivo-arrow">></div>
        </div>
        <div id="slider" class="nivoSlider">
        <% cache [@vehicle, @vehicle.photos.count] do %>
          <% @vehicle.photos.find_each do |photo| %>
            <%= image_tag photo.image.url(:original) %>
          <% end %>
	    <% end %>
        </div>
    </div>
  </div>
</div>
