<div id="view-image-modal" class="reveal-modal">
  <section class="row">
    <div class="large-2 columns">&nbsp;</div>
    <img class="large-8 columns" id="view-image-modal-image" src="" />
    <div class="large-2 columns">&nbsp;</div>
  </section>
  <a class="close-reveal-modal">&#215;</a>
</div>