<div id="featured-content" class="row">
	<div class="large-3 columns">&nbsp;</div>
	<div class="large-9 columns featured-column">
	  <div class="row">
	    <div class="car large-11 large-centered columns">
	      <div class="row">
	        <div class="picture large-4 columns"></div>
		    <div class="info large-8 columns">
		  	    <h4>Featured</h4>
		  	    <h2 small-text="Lingenfelter Camaro">2010 Lingenfelter Camaro</h2>
		  	    <h4>Only 4,000 Miles! — Damage: None</h4>
		  	    <h3 class="price">$23,000</h3>
		  	    <a class="more-info button success" small-text="More Info">Click Here For More Info</a>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>