<div id="featured-content">
  <div class="row">
    <div class="car">
      <div class="picture">
      </div>
    	<div class="info">
    	  <h4>Featured</h4>
    	  <h2>2010 Lingenfelter Camaro</h2>
    	  <h4>Only 4,000 Miles! — Damage: None</h4>
    	  <h3 class="price">$23,000</h3>
    	  <a class="more-info button success" small-text="More Info">Click Here For More Info</a>
    	</div>
    </div>
  </div>
</div>