<%= form_tag vehicle_path(@vehicle)+'/upload_photos', {multipart: true, method: 'put', action: 'upload_photos'} do %>

	<div class="progress success round"><span class="meter" style="width:0%;"></span></div>
	<span class="status"></span>
    <ul class="button-group round buttons">
	    <li class="file-upload button">
	       <span>Add Files</span>
	        <%= file_field :photo, 'image', { multiple: 'multiple' } %>
	    </li>
        <%= submit_tag 'Start Upload' %>
	</ul>


<% end %>

<div class="existing-photos row">
    <% photos = @vehicle.photos %>
	<% photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb), { class: 'large-3 columns' } %>
	<% end %>
</div>