@mixin linear-gradient($size, $default-color, $color-stops...)
{
  background-image: -webkit-linear-gradient($color-stops);
  background-image:    -moz-linear-gradient($color-stops);
  background-image:      -o-linear-gradient($color-stops);
  background-image:         linear-gradient($color-stops);
  background-size: $size $size;
  background-color: $default-color;
}

$classPrefix: "foundicon-";
@mixin i-class($name,$pua) {
  .#{$classPrefix}#{$name}:before {
    content: "\f#{$pua}";
  }
}

@mixin ie-class($name,$pua) {
  .#{$classPrefix}#{$name} {
    *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf#{$pua};");
  }
}