@mixin linear-gradient($size, $default-color, $color-stops...)
{
  background-image: -webkit-linear-gradient($color-stops);
  background-image:    -moz-linear-gradient($color-stops);
  background-image:      -o-linear-gradient($color-stops);
  background-image:         linear-gradient($color-stops);
  background-size: $size $size;
  background-color: $default-color;
}



@mixin ie-class($name,$pua) {
  .#{$classPrefix}#{$name} {
    *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = "&#xf#{$pua};");
  }
}

@include keyframes(pulse-font-size) {
  0% {
    font-size: 100%;
    line-height: 1em;
  }
  50% {
    font-size: 140%;
    line-height: 1.2em;
  }
  100% {
    font-size: 100%;
    line-height: 1em;
  }
}