// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show.pages {
  >h1 {
  }

  img.content {
    &.half {
      width: 49%;
      padding: .5em;
    }
  }

  &.members {
  	.expand.button {
  		margin-bottom: 0;
  	}
  }
}
.faq-list {
	font-size: 120%;
	>dt {
		color: lighten(#276030, 10%);
		font-weight: normal;
		&:first-letter {
			font-weight: bold;
		}
		&:hover {
			cursor: pointer;
		}
	}
	>dd {
		&:first-letter {
			font-weight: bold;
		}
		padding: 0.5em 1.5em;
		color: #444;
		// Glossaries nested within definitions
		dt {
			margin-bottom: 0;
			line-height: 1.2;
		}
		dd {
			line-height: 1.2;
		}
	}
}

@media #{$screen} and (max-width: #{$small-screen}) {
  .show.pages {
    img.content {
      &.half{
        width: 100%;
        padding: 0;
      }
    }
  }
}
