<% cache ["v1", feature] do %><li class="feature secondary button animated" data-id="<%= feature.id %>"><%= link_to fa_icon('trash').html_safe, feature_path(feature),
          data:{
        remote: true,
        method: :delete,
        confirm: "Delete this feature? It won't be removed from existing vehicles."
}, class:'right'%><%= feature.name %></li><% end %>
