<div class="row">

<%= form_for(@feature, remote: true, html: { class: 'large-6 columns large-centered'}) do |f| %>
  <div class="row collapse">
    <div class="field large-11 columns">
      <%= f.text_field :name %>
    </div>
    <div class="actions large-1 columns">
      <%= f.submit '+', class:'button prefix' %>
    </div>
  </div>
<% end %>

</div>
