<h1>Manage Features<br/>
<small>Drag to Reorder</small></h1>

<%= render partial: 'features/form' %>

<p class="message centered"></p>

<div class="row">
  <ol class="features list large-6 large-centered columns">
    <%= render @features %>
  </ol>
</div>
