.field{
  margin: 0 0 1em 0;

  label {
    display: inline-block;
  }
  input[type=checkbox]{
    display: inline-block;
  }
  .button {
    margin: 0;
  }
}
form {
  margin:0;
  .field:last-child {
    margin: 0;
  }
}