// This file is for styles that pertain to the shell
// of the application, exept the sidenav because
// it's slightly more complex.
body{
  background-size: 3px;
  box-sizing: border-box;
}
body,html{
  &.full{
    height: 100%;
    overflow: hidden;

    #gallery-modal {
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important;
      height: 100% !important;
      width: 100%;
      top: 0px !important;
      left: 0px !important;
      margin: 0px 0px 0px 0px !important;

      .close-full-modal {
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 1000;
      }
      .nivo-nextNav, .nivo-prevNav {
        z-index: 1000;
        border-radius: 100px;
      }
    }
  }
}

div.topbar {
  position: relative;
  box-shadow: 0 0 2px #000;
  margin:0;
  z-index: 90;
  background: #276030;

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 3px #000;
    display: inline-block;
    padding: 0.1em 0.25em;
    &.right {
      float: right;
    }
  }
  &.subnav {
    background: lighten(#276030, 10%);
    z-index: 80;
    nav {
      ul {
        list-style-type: none;
        margin: 0 auto;
        li {
          display: inline-block;
          text-shadow: 1px 1px 1px #000;
          color: white;
          padding: 0.3em 0;
          font-weight: bold;
          a, .a {
            color: white;
            padding: 0.5em 1em;
          }

          &.inventory {
            padding:0;
            a {
              color: #fffd9c;
            }
          }
        }
      }
    }
  }
}

#container {
  background: #fff;
  padding-bottom: 2em;
  position: relative;
}

.side-nav {
  z-index: 80;
}

#featured-box {
  z-index: 70;
  padding: 0;
  img {
    width: 150%;
  }
}

article#content {
  padding: 15px;
}
footer {
    font-size: 0.75em;
    color: #222;
    text-align: center;
}

@media #{$screen} and (max-width: #{$small-screen}) {
  .small-0 {
    display: none !important;
  }
  .small-left {
    text-align: left !important;
  }
  .small-right {
    text-align: right !important;
  }
}
@media #{$small} {
  .large-0 {
    display: none !important;
  }
  .large-left {
    text-align: left !important;
  }
  .large-right {
    text-align: right !important;
  }
}