// This file is for styles that pertain to the shell
// of the application, exept the sidenav because
// it's slightly more complex.
body{
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
body,html{
  &.full{
    height: 100%;
    overflow: hidden;

  }
}

div.topbar {
  position: relative;
  margin:0;
  z-index: 90;
  background: #276030;

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    color: white;
    margin: 0;
    display: inline-block;
    padding: 0.5em 0.6em;
    &.right {
      float: right;
    }
  }
  &.subnav {
    background: lighten(#276030, 10%);
    z-index: 80;
    nav {
      ul {
        list-style-type: none;
        margin: 0 auto;
        li {
          display: inline-block;
          color: white;
          padding: 0.5em 0.3em;
          font-size: 1.2em;
          a, .a {
            color: white;
            padding: 0.5em 1em;
          }

          &.current {
            a {
              color: #fffd9c;
            }
          }
        }
      }
    }
  }
}

#container {
  background: #fff;
  padding-bottom: 1.5em;
  position: relative;
}

.side-nav {
  z-index: 80;
}

#featured-box {
  z-index: 70;
  padding: 0;
  img {
    width: 150%;
  }
}

article#content {
  padding-top: 15px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 0px;

}

.call-to-action {
	text-align: center;
	font-size: 1.2em;
  border-top: 1px dotted #bbb;
  padding-top: 20px;
}

footer {
    color: #eee;
    background: #2a2a2a;
    padding: 1.5em;

    ul {
    	list-style-type: none;
    }
}

@media #{$screen} and (max-width: #{$small-screen}) {
  .small-0 {
    display: none !important;
  }
  .small-left {
    text-align: left !important;
  }
  .small-right {
    text-align: right !important;
  }
  div.topbar {
  	h1 {
  		padding: 0.2em;
  		min-width: 49%;
  		&.right {
  			text-align: right;
  		}
  		&.center {
  			width: 100%;
  			text-align: center;
  		}
  	}
  	&.subnav {
  		nav ul {
			text-align: center;
  			li {
  				padding: 0.2em 0.3em;
  				a, .a {
  					padding: 0.2em;
  				}

  				&.right {
  					width: 100%;
  					text-align: center;
  				}
  			}
  		}
  	}
  }
}
@media #{$small} {
  .large-0 {
    display: none !important;
  }
  .large-left {
    text-align: left !important;
  }
  .large-right {
    text-align: right !important;
  }
}
