// This file is for styles that pertain to the shell
// of the application, exept the sidenav because
// it's slightly more complex.

@import "mixins.css.scss";
@import "foundation/_foundation-global";

body{
  @include linear-gradient(to top, #faf9cf 0%, #faf7e0 80%, #dceb86 80%, #dceb86 100%);
  background-size: 3px;
  box-sizing: border-box;
}
body,html{
  &.full{
    height: 100%;
    overflow: hidden;

    #gallery-modal {
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important;
      height: 100% !important;
      width: 100%;
      top: 0px !important;
      left: 0px !important;
      margin: 0px 0px 0px 0px !important;

      .close-full-modal {
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 1000;
      }
    }
  }
}

div.top-bar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin:0;
  z-index: 90;
  span {
    color: #fff;
    font-size: 0.75em;
    line-height: 1.5em;
    padding: 0.5em;
  }
}

#container {
  background: #fff;
  padding-bottom: 2em;
  position: relative;
}

.side-nav {
  z-index: 80;
}
$featured-height: emCalc(275px);

#featured-box {
  z-index: 70;
  padding: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: $featured-height;
  img {
    width: 150%;
  }
}

article#content {
  padding: 15px;
  &.pushed-down {
    margin-top: $featured-height;
  }
}
footer {
    font-size: 0.75em;
    color: #222;
    text-align: center;
}

@media #{$screen} and (max-width: #{$small-screen}) {
  #container-footer { display: inherit; }
  #nav-footer { display: none; }
  .small-0 {
    display: none !important;
  }
  // Removing featured cars from mobile for now
  #featured-box { display: none; }
  article#content.pushed-down { margin-top: inherit; }
}
@media #{$small} {
  #container-footer { display: none; }
  #nav-footer { display: inherit; }
  .large-0 {
    display: none !important;
  }
}