// This file is for styles pertaining to the site's
// typography. Google webfont import calls, and
// @font-face declarations belong here.

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

/* LEAGUE GOTHIC */
//@include font-face('League Gothic','leaguegothic-italic-webfont', normal, italic, true);
//@include font-face('League Gothic','leaguegothic-regular-webfont', normal, normal, true);

/* GENERAL ENCLOSED FOUNDICONS */
@include font-face('GeneralFoundicons', 'general_foundicons', normal, normal, true);
@include font-face('GeneralEnclosedFoundicons', 'general_enclosed_foundicons', normal, normal, true);

[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  &:not(.default) {
    font-size: 1.2em;
    position: relative;
    top: 0.2em;
    font-style: normal;
  }
}
[class*="foundicon-"]:before {
  font-family: 'GeneralFoundicons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
[class*="foundicon-enclosed-"]:before {
  font-family: 'GeneralEnclosedFoundicons';
}

/* Foundicon Styles */
$classPrefix: "foundicon-";
@mixin i-class($name,$pua) {
  .#{$classPrefix}#{$name}:before {
    content: "\f#{$pua}";
  }
  .#{$classPrefix}enclosed-#{$name}:before {
    content: "\f#{$pua}";
  }
}
@include i-class(settings,"000");
@include i-class(heart,"001");
@include i-class(star,"002");
@include i-class(plus,"003");
@include i-class(minus,"004");
@include i-class(checkmark,"005");
@include i-class(remove,"006");
@include i-class(mail,"007");
@include i-class(calendar,"008");
@include i-class(page,"009");
@include i-class(tools,"00a");
@include i-class(globe,"00b");
@include i-class(home,"00c");
@include i-class(quote,"00d");
@include i-class(people,"00e");
@include i-class(monitor,"00f");
@include i-class(laptop,"010");
@include i-class(phone,"011");
@include i-class(cloud,"012");
@include i-class(error,"013");
@include i-class(right-arrow,"014");
@include i-class(left-arrow,"015");
@include i-class(up-arrow,"016");
@include i-class(down-arrow,"017");
@include i-class(trash,"018");
@include i-class(add-doc,"019");
@include i-class(edit,"01a");
@include i-class(lock,"01b");
@include i-class(unlock,"01c");
@include i-class(refresh,"01d");
@include i-class(paper-clip,"01e");
@include i-class(video,"01f");
@include i-class(photo,"020");
@include i-class(graph,"021");
@include i-class(idea,"022");
@include i-class(mic,"023");
@include i-class(cart,"024");
@include i-class(address-book,"025");
@include i-class(compass,"026");
@include i-class(flag,"027");
@include i-class(location,"028");
@include i-class(clock,"029");
@include i-class(folder,"02a");
@include i-class(inbox,"02b");
@include i-class(website,"02c");
@include i-class(smiley,"02d");
@include i-class(search,"02e");

article {
  color: #222;

  ul,ol {
    margin-left: 2em;
  }
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
h4,h5,h4 {
  font-style: normal;
}
p,span,a {
  &.left { text-align: left; }
  &.right { text-align: right; }
}

.big {
  font-size: 1.5em;
}
.small {
  font-size: 0.9em;
}

.centered {
  text-align: center;
}

.italic {
  font-style: italic;
}

.no-wrap {
  white-space: nowrap;
}

.blue {
  color: $primary-color;
}
.red {
  color: $alert-color;
}
.green {
  color: $success-color;
}
.grey, .gray {
  color: darken($secondary-color, 30%);
}

@media #{$screen} and (max-width: #{$small-screen}) {
  h1{ font-size: 4em; }
}